pr:
  branches:
    include:
      - main

trigger: none

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: news-app-stg
  - group: netlify-auth
  - name: NODE_VERSION
    value: '20'

stages:
  - stage: Test
    jobs:
      - job: UnitTests
        displayName: 'Run Unit & Functional Tests'
        steps:
          - checkout: self
          - task: NodeTool@0
            inputs:
              versionSpec: '$(NODE_VERSION)'
          - script: |
              set -eo pipefail
              npm ci
              npm test
            displayName: 'Run tests'

  - stage: BuildDeploy
    dependsOn: Test
    condition: succeeded()
    jobs:
      - job: BuildAndDeploy
        displayName: 'Build & Deploy to Netlify (Staging)'
        steps:
          - checkout: self
          - task: NodeTool@0
            inputs:
              versionSpec: '$(NODE_VERSION)'
          - script: |
              set -eo pipefail
              npm ci
              npm run build
              npm install -g netlify-cli
              netlify deploy \
                --auth $(NETLIFY_AUTH_TOKEN) \
                --site $(NETLIFY_SITE_ID) \
                --dir=dist \
                --prod \
                --json
            displayName: 'Build & Deploy'

  - stage: E2E
    dependsOn: BuildDeploy
    condition: succeeded()
    jobs:
      - job: PlaywrightTests
        displayName: 'Run Playwright E2E Tests'
        steps:
          - checkout: self
          - task: NodeTool@0
            inputs:
              versionSpec: '$(NODE_VERSION)'
          - script: |
              set -eo pipefail
              npm ci --force
              npx playwright install --with-deps --force
              npm run test:e2e
            displayName: 'Run Playwright Tests'
          - task: PublishTestResults@2
            condition: always()
            inputs:
              testResultsFiles: '**/test-results/junitReport.xml'
              testRunTitle: 'Playwright E2E Tests'
