@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .invalid {
    background-color: red;
    color: rgba(255, 255, 255, 0.87);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
input,
label {
  display: block;
}

input {
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.87);
  margin: 5px;
  width: 100%;
}

button {
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.87);
  color: #1a1a1a;
  cursor: pointer;
  margin: 5px;
}

.btn-delete {
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 0.1em 0.5em;
}

button:hover {
  background-color: orange;
  border: 5px;
}

button:active {
  background-color: white;
  color: #1a1a1a;
}
